<configuration>

    <!-- ========================= -->
    <!-- STDOUT (fallback / root) -->
    <!-- ========================= -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="ASYNCSTDOUT" class="ch.qos.logback.classic.AsyncAppender">
        <queueSize>1024</queueSize>
        <discardingThreshold>0</discardingThreshold>
        <appender-ref ref="STDOUT"/>
    </appender>

    <!-- ========================= -->
    <!-- QUERY LOGGER -->
    <!-- ========================= -->
    <appender name="QUERY_JSON" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
             <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- ========================= -->
    <!-- DEFAULT LOGGER -->
    <!-- ========================= -->
    <appender name="DEFAULT_JSON" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
             <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- ========================= -->
    <!-- APPLICATION LOGGER -->
    <!-- ========================= -->
    <appender name="APP_JSON" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
             <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- ========================= -->
    <!-- LOGGERS -->
    <!-- ========================= -->
    <logger name="org.sunbird" level="INFO">
        <appender-ref ref="APP_JSON"/>
    </logger>

    <logger name="queryLogger" level="DEBUG">
        <appender-ref ref="QUERY_JSON"/>
    </logger>

    <logger name="defaultLogger" level="INFO">
        <appender-ref ref="DEFAULT_JSON"/>
    </logger>

    <logger name="TelemetryEventLogger" level="INFO"/>

    <logger name="play" level="INFO"/>

    <!-- ========================= -->
    <!-- ROOT -->
    <!-- ========================= -->
    <root level="INFO">
        <appender-ref ref="ASYNCSTDOUT"/>
    </root>

</configuration>